@import "../variables";

.header__container {
  @media (min-width: $layout-breakpoint-small) {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-height: 5rem;
    max-width: 114rem;
    padding: 0 $padding-default;
    margin: 0 auto;
    box-sizing: border-box;
    transition: min-height 0.3s ease 0s;
  }

  @media (min-width: $layout-breakpoint-medium) {
    min-height: 8rem;
  }

  @media (min-width: $layout-breakpoint-large) {
    min-height: 10rem;
  }

}