@import "../variables";

.footer__phone {
  position: relative;
  margin-left: 3rem;
  text-decoration: none;
  color: $black-default;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3rem;
    display: inline-block;
    width: 2rem;
    height: 2.5rem;
    background: url("/images/icons-sprite.png") 100% -7px no-repeat;
  }
}