- let data = require('../../../data');

nav.breadcrumbs
    .breadcrumbs__container
        each key in data.breadcrumbs
                a(href=key.href)(class='breadcrumbs__item breadcrumbs__link')= key.text