
nav.breadcrumbs
    a(href='#' class='breadcrumbs__item breadcrumbs__link') Breadcrumbs1
    a(href='#' class='breadcrumbs__item breadcrumbs__link') Breadcrumbs2
    span.breadcrumbs__item.breadcrumbs__target Breadcrumbs3