- let menu = require('../../../data');

nav.navigation
    .navigation__container
        ul.navigation__list
            each key in menu.nav
                li
                    a(href=key.href)(class='navigation__link')= key.text