@import "../variables";

.breadcrumbs__link {
  color: $link-default;
  text-decoration: none;

  &:hover {
    color: $link-hover;
    transition: color 0.5s ease 0s;
  }

  &:not(:last-of-type)::after {
    content: '>';
    display: inline-block;
    margin: 0 1rem;
    color: $text-default;
  }
}