@import "../variables";
@import "_title";
@import "_param";
@import "_param-name";
@import "_par";
@import "_par-value";
@import "_par-min";
@import "_text";
@import "_button";

.filter {
  @media (min-width: $layout-breakpoint-small) {
    width: 100%;
    height: auto;
    margin-right: 2rem;
    padding: $padding-default;
    background-color: $white-default;
    box-sizing: border-box;
    transition: width 0.3s ease 0s;
  }

  @media (min-width: $layout-breakpoint-medium) {
    width: 27rem;
  }
}








