@import "../variables";
@import "_image";
@import "_content";
@import "_title";
@import "_list";
@import "_feature";

.card {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1.6rem;
  padding: $padding-default;
  background-color: $white-default;
}









