- let data = require('../../../data');

doctype html
html(lang='en')
    head
        title #{data.page_meta.title}
        meta(name='keywords' content= data.page_meta.meta_keywords)
        meta(name='description' content= data.page_meta.meta_description)
    body
        include ../modules/header
        include ../modules/navigation
        include ../modules/breadcrumbs
        main.main
            .main__container
                include ../modules/filter
                include ../modules/catalog
        include ../modules/footer
