doctype html
html(lang='en')
    head
        title Test Task
    body
        div.page-container
            include ../modules/header
            include ../modules/navigation
            include ../modules/breadcrumbs
