@import "../variables";

.main__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  max-width: 114rem;
  margin: 0 auto;
  padding: 0 $padding-default;
  box-sizing: border-box;
}