@import "variables";

html {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-size: 1.6rem;
  background-color: $body-background;
}