@import "variables";

html {
  font-family: 'Roboto', sans-serif;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  background-color: $body-background;
}
.page-container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: yellow;
}