@import "../variables";

.catalog {
  @media (min-width: $layout-breakpoint-small) {
    flex: 1 0 auto;
    min-height: 5rem;

  }

  @media (min-width: $layout-breakpoint-medium) {
    max-width: calc(100% - 29rem);
  }
}